
form{
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

.container{
    width: 200px;
    height: auto;
    background-color: beige;
    margin-top: 100px;
}
.firstName{
    margin: 10px;
}
.lastName{
    margin: 10px;
}
.age{
    margin: 10px;
}